@inherits LayoutComponentBase

<div class="page">
    <Layout Sider>
        <LayoutSider>
            <LayoutSiderContent>
                <NavMenu />
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutHeader Fixed>

            </LayoutHeader>
            <LayoutContent>
                <main>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </LayoutContent>
        </Layout>
    </Layout>

</div>
